# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio files
.vs/
*.user
*.suo
*.cache

# Rider
.idea/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Test results
[Tt]est[Rr]esult*/
*.trx

# macOS
.DS_Store

# Windows
Thumbs.db
